.brand-watchout {
  color: $brand-watchout;
}

.brand-watchout-bg {
  background: $brand-watchout;
}

.light-gray {
  color: $light-gray;
}

.light-gray-bg {
  background: $light-gray;
}

.brand-primary {
  color: $brand-primary;
}

.brand-primary-bg {
  background: $brand-primary;
}

.brand-secondary {
  color: $brand-secondary;
}

.brand-secondary-bg {
  background: $brand-secondary;
}

.blue-dark {
  color: $blue-dark;
}

.blue-dark-bg {
  background: $blue-dark;
}

.light-blue {
  color: $light-blue;
}

.light-blue-bg {
  background: $light-blue;
}