.ingecheckt {
  color: $gray-light;
}

.wachten {
  color: $gray-light;
}

.in-behandeling {
  color: $brand-success;
}

.uitgecheckt {
  color: $gray-light;
}

.onmiddelijk {
  color: $brand-danger;
}

.bg-onmiddelijk {
  background-color: $brand-danger;
}

.hoog-urgent {
  color: $brand-warning;
}

.bg-hoog-urgent {
  background-color: $brand-warning;
}

.urgent {
  color: $brand-watchout;
}

.bg-urgent {
  background-color: $brand-watchout;
}

.standaard {
  color: $brand-success;
}

.bg-standaard {
  background-color: $brand-success;
}

.niet-urgent {
  color: $brand-info;
}

.bg-niet-urgent {
  background-color: $brand-info;
}

.brand-watchout {
  color: $brand-watchout;
}

.brand-watchout-bg {
  background: $brand-watchout;
}

.light-gray {
  color: $light-gray;
}

.light-gray-bg {
  background: $light-gray;
}

.brand-primary {
  color: $brand-primary;
}

.brand-primary-bg {
  background: $brand-primary;
}

.brand-secondary {
  color: $brand-secondary;
}

.brand-secondary-bg {
  background: $brand-secondary;
}

.blue-dark {
  color: $blue-dark;
}

.blue-dark-bg {
  background: $blue-dark;
}

.light-blue {
  color: $light-blue;
}

.light-blue-bg {
  background: $light-blue;
}

.white-bg, .bg-white {
  background: $white;
}

.border-light-gray {
  border: 1px solid #e9edf0;
}

.circle {
  width: 59px;
  height: 59px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}