@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,800,700,600);
@import "app";
@import "../../../node_modules/sweetalert/dist/sweetalert.css";

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
  color: $blue-dark;
  overflow-x: hidden;
}

.main-wrapper {
  width: 100%;
  position: absolute;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.app {
  position: relative;
  width: 100%;
  padding-left: 230px;
  min-height: 100vh;
  margin: 0 auto;
  left: 0;
  background-color: $light-gray;
  box-shadow: 0 0 3px #ccc;
  -webkit-transition: left 0.3s ease, padding-left 0.3s ease;
  transition: left 0.3s ease, padding-left 0.3s ease;
  overflow: hidden;
}

.app .content {
  padding: 95px 20px 75px 20px;
  min-height: 100vh;
}

@media (min-width: 1200px) {
  .app .content {
    padding: 105px 40px 85px 40px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .app .content {
    padding: 100px 35px 80px 35px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .app .content {
    padding: 95px 20px 75px 20px;
  }
}

@media (max-width: 767px) {
  .app .content {
    padding: 70px 20px 70px 20px;
  }
}

@media (max-width: 991px) {
  .app {
    padding-left: 0;
  }
}

@media (max-width: 991px) {
  .app.sidebar-open {
    left: 0;
  }
}

.app.blank {
  background-color: #667380;
}

/* *******************************************
*				Button Styles
********************************************** */

.btn.btn-primary {
  color: #ffffff;
  background-color: $brand-primary;
  border-color: $brand-primary;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: $brand-primary-dark;
  border-color: $brand-primary-dark;
}

.btn.btn-primary:focus, .btn.btn-primary.focus {
  color: #ffffff;
  background-color: $brand-primary-dark;
  border-color: $brand-primary-dark;
}

.btn.btn-primary:active, .btn.btn-primary.active,
.open > .btn.btn-primary.dropdown-toggle {
  color: #ffffff;
  background-color: $brand-primary-dark;
  border-color: $brand-primary-dark;
  background-image: none;
}

.btn.btn-primary:active:hover, .btn.btn-primary:active:focus, .btn.btn-primary:active.focus, .btn.btn-primary.active:hover, .btn.btn-primary.active:focus, .btn.btn-primary.active.focus,
.open > .btn.btn-primary.dropdown-toggle:hover,
.open > .btn.btn-primary.dropdown-toggle:focus,
.open > .btn.btn-primary.dropdown-toggle.focus {
  color: #ffffff;
  background-color: $brand-primary-dark;
  border-color: $brand-primary-dark;;
}

.btn.btn-primary.disabled:focus, .btn.btn-primary.disabled.focus, .btn.btn-primary:disabled:focus, .btn.btn-primary:disabled.focus {
  background-color: $brand-primary-dark;
  border-color: $brand-primary-dark;
}

.btn.btn-primary.disabled:hover, .btn.btn-primary:disabled:hover {
  background-color: $brand-primary-dark;
  border-color: $brand-primary-dark;
}

.btn.btn-secondary {
  color: #4f5f6f;
  background-color: #fff;
  border-color: #d7dde4;
}

.btn.btn-secondary:hover {
  color: #4f5f6f;
  background-color: #e6e6e6;
  border-color: #b2becb;
}

.btn.btn-secondary:focus, .btn.btn-secondary.focus {
  color: #4f5f6f;
  background-color: #e6e6e6;
  border-color: #b2becb;
}

.btn.btn-secondary:active, .btn.btn-secondary.active,
.open > .btn.btn-secondary.dropdown-toggle {
  color: #4f5f6f;
  background-color: #e6e6e6;
  border-color: #b2becb;
  background-image: none;
}

.btn.btn-secondary:active:hover, .btn.btn-secondary:active:focus, .btn.btn-secondary:active.focus, .btn.btn-secondary.active:hover, .btn.btn-secondary.active:focus, .btn.btn-secondary.active.focus,
.open > .btn.btn-secondary.dropdown-toggle:hover,
.open > .btn.btn-secondary.dropdown-toggle:focus,
.open > .btn.btn-secondary.dropdown-toggle.focus {
  color: #4f5f6f;
  background-color: #d4d4d4;
  border-color: #8b9cb1;
}

.btn.btn-secondary.disabled:focus, .btn.btn-secondary.disabled.focus, .btn.btn-secondary:disabled:focus, .btn.btn-secondary:disabled.focus {
  background-color: #fff;
  border-color: #d7dde4;
}

.btn.btn-secondary.disabled:hover, .btn.btn-secondary:disabled:hover {
  background-color: #fff;
  border-color: #d7dde4;
}

.btn.btn-success {
  color: #ffffff;
  background-color: $brand-success;
  border-color: $brand-success;
}

.btn.btn-success:hover {
  color: #ffffff;
  background-color: $brand-success-dark;
  border-color: $brand-success-dark;
}

.btn.btn-success:focus, .btn.btn-success.focus {
  color: #ffffff;
  background-color: $brand-success-dark;
  border-color: $brand-success-dark;
}

.btn.btn-success:active, .btn.btn-success.active,
.open > .btn.btn-success.dropdown-toggle {
  color: #ffffff;
  background-color: $brand-success-dark;
  border-color: $brand-success-dark;
  background-image: none;
}

.btn.btn-success:active:hover, .btn.btn-success:active:focus, .btn.btn-success:active.focus, .btn.btn-success.active:hover, .btn.btn-success.active:focus, .btn.btn-success.active.focus,
.open > .btn.btn-success.dropdown-toggle:hover,
.open > .btn.btn-success.dropdown-toggle:focus,
.open > .btn.btn-success.dropdown-toggle.focus {
  color: #ffffff;
  background-color: $brand-success-dark;
  border-color: $brand-success-dark;
}

.btn.btn-success.disabled:focus, .btn.btn-success.disabled.focus, .btn.btn-success:disabled:focus, .btn.btn-success:disabled.focus {
  background-color: $brand-success-dark;
  border-color: $brand-success-dark;
}

.btn.btn-success.disabled:hover, .btn.btn-success:disabled:hover {
  background-color: $brand-success-dark;
  border-color: $brand-success-dark;
}

.btn.btn-info {
  color: #ffffff;
  background-color: $brand-info;
  border-color: $brand-info;
}

.btn.btn-info:hover {
  color: #ffffff;
  background-color: $brand-info-dark;
  border-color: $brand-info-dark;
}

.btn.btn-info:focus, .btn.btn-info.focus {
  color: #ffffff;
  background-color: $brand-info-dark;
  border-color: $brand-info-dark;
}

.btn.btn-info:active, .btn.btn-info.active,
.open > .btn.btn-info.dropdown-toggle {
  color: #ffffff;
  background-color: $brand-info-dark;
  border-color: $brand-info-dark;
  background-image: none;
}

.btn.btn-info:active:hover, .btn.btn-info:active:focus, .btn.btn-info:active.focus, .btn.btn-info.active:hover, .btn.btn-info.active:focus, .btn.btn-info.active.focus,
.open > .btn.btn-info.dropdown-toggle:hover,
.open > .btn.btn-info.dropdown-toggle:focus,
.open > .btn.btn-info.dropdown-toggle.focus {
  color: #ffffff;
  background-color: $brand-info-dark;
  border-color: $brand-info-dark;
}

.btn.btn-info.disabled:focus, .btn.btn-info.disabled.focus, .btn.btn-info:disabled:focus, .btn.btn-info:disabled.focus {
  background-color: $brand-info-dark;
  border-color: $brand-info-dark;
}

.btn.btn-info.disabled:hover, .btn.btn-info:disabled:hover {
  background-color: $brand-info-dark;
  border-color: $brand-info-dark;
}

.btn.btn-warning {
  color: #ffffff;
  background-color: $brand-warning;
  border-color: $brand-warning;
}

.btn.btn-warning:hover {
  color: #ffffff;
  background-color: $brand-warning-dark;
  border-color: $brand-warning-dark;
}

.btn.btn-warning:focus, .btn.btn-warning.focus {
  color: #ffffff;
  background-color: $brand-warning-dark;
  border-color: $brand-warning-dark;
}

.btn.btn-warning:active, .btn.btn-warning.active,
.open > .btn.btn-warning.dropdown-toggle {
  color: #ffffff;
  background-color: $brand-warning-dark;
  border-color: $brand-warning-dark;
  background-image: none;
}

.btn.btn-warning:active:hover, .btn.btn-warning:active:focus, .btn.btn-warning:active.focus, .btn.btn-warning.active:hover, .btn.btn-warning.active:focus, .btn.btn-warning.active.focus,
.open > .btn.btn-warning.dropdown-toggle:hover,
.open > .btn.btn-warning.dropdown-toggle:focus,
.open > .btn.btn-warning.dropdown-toggle.focus {
  color: #ffffff;
  background-color: $brand-warning-dark;
  border-color: $brand-warning-dark;
}

.btn.btn-warning.disabled:focus, .btn.btn-warning.disabled.focus, .btn.btn-warning:disabled:focus, .btn.btn-warning:disabled.focus {
  background-color: $brand-warning-dark;
  border-color: $brand-warning-dark;
}

.btn.btn-warning.disabled:hover, .btn.btn-warning:disabled:hover {
  background-color: $brand-warning-dark;
  border-color: $brand-warning-dark;
}

.btn.btn-danger {
  color: #ffffff;
  background-color: $brand-danger;
  border-color: $brand-danger;
}

.btn.btn-danger:hover {
  color: #ffffff;
  background-color: $brand-danger-dark;
  border-color: $brand-danger-dark;
}

.btn.btn-danger:focus, .btn.btn-danger.focus {
  color: #ffffff;
  background-color: $brand-danger-dark;
  border-color: $brand-danger-dark;
}

.btn.btn-danger:active, .btn.btn-danger.active,
.open > .btn.btn-danger.dropdown-toggle {
  color: #ffffff;
  background-color: $brand-danger-dark;
  border-color: $brand-danger-dark;
  background-image: none;
}

.btn.btn-danger:active:hover, .btn.btn-danger:active:focus, .btn.btn-danger:active.focus, .btn.btn-danger.active:hover, .btn.btn-danger.active:focus, .btn.btn-danger.active.focus,
.open > .btn.btn-danger.dropdown-toggle:hover,
.open > .btn.btn-danger.dropdown-toggle:focus,
.open > .btn.btn-danger.dropdown-toggle.focus {
  color: #ffffff;
  background-color: $brand-danger-dark;
  border-color: $brand-danger-dark;
}

.btn.btn-danger.disabled:focus, .btn.btn-danger.disabled.focus, .btn.btn-danger:disabled:focus, .btn.btn-danger:disabled.focus {
  background-color: $brand-danger-dark;
  border-color: $brand-danger-dark;
}

.btn.btn-danger.disabled:hover, .btn.btn-danger:disabled:hover {
  background-color: $brand-danger-dark;
  border-color: $brand-danger-dark;
}

.btn.btn-primary-outline {
  color: $brand-success;
  background-image: none;
  background-color: transparent;
  border-color: $brand-success;
}

.btn.btn-primary-outline:hover {
  color: #fff;
  background-color: $brand-success-dark;
  border-color: $brand-success-dark;
}

.btn.btn-primary-outline:focus, .btn.btn-primary-outline.focus {
  color: #fff;
  background-color: $brand-success-dark;
  border-color: $brand-success-dark;
}

.btn.btn-primary-outline:active, .btn.btn-primary-outline.active,
.open > .btn.btn-primary-outline.dropdown-toggle {
  color: #fff;
  background-color: $brand-success-dark;
  border-color: $brand-success-dark;
}

.btn.btn-primary-outline:active:hover, .btn.btn-primary-outline:active:focus, .btn.btn-primary-outline:active.focus, .btn.btn-primary-outline.active:hover, .btn.btn-primary-outline.active:focus, .btn.btn-primary-outline.active.focus,
.open > .btn.btn-primary-outline.dropdown-toggle:hover,
.open > .btn.btn-primary-outline.dropdown-toggle:focus,
.open > .btn.btn-primary-outline.dropdown-toggle.focus {
  color: #fff;
  background-color: $brand-success-dark;
  border-color: $brand-success-dark;
}

.btn.btn-primary-outline.disabled:focus, .btn.btn-primary-outline.disabled.focus, .btn.btn-primary-outline:disabled:focus, .btn.btn-primary-outline:disabled.focus {
  background-color: $brand-success-dark;
  border-color: $brand-success-dark;
}

.btn.btn-primary-outline.disabled:hover, .btn.btn-primary-outline:disabled:hover {
  background-color: $brand-success-dark;
  border-color: $brand-success-dark;
}

.btn.btn-secondary-outline {
  color: #d7dde4;
  background-image: none;
  background-color: transparent;
  border-color: #d7dde4;
}

.btn.btn-secondary-outline:hover {
  color: #fff;
  background-color: #d7dde4;
  border-color: #d7dde4;
}

.btn.btn-secondary-outline:focus, .btn.btn-secondary-outline.focus {
  color: #fff;
  background-color: #d7dde4;
  border-color: #d7dde4;
}

.btn.btn-secondary-outline:active, .btn.btn-secondary-outline.active,
.open > .btn.btn-secondary-outline.dropdown-toggle {
  color: #fff;
  background-color: #d7dde4;
  border-color: #d7dde4;
}

.btn.btn-secondary-outline:active:hover, .btn.btn-secondary-outline:active:focus, .btn.btn-secondary-outline:active.focus, .btn.btn-secondary-outline.active:hover, .btn.btn-secondary-outline.active:focus, .btn.btn-secondary-outline.active.focus,
.open > .btn.btn-secondary-outline.dropdown-toggle:hover,
.open > .btn.btn-secondary-outline.dropdown-toggle:focus,
.open > .btn.btn-secondary-outline.dropdown-toggle.focus {
  color: #fff;
  background-color: #a3b1c1;
  border-color: #8b9cb1;
}

.btn.btn-secondary-outline.disabled:focus, .btn.btn-secondary-outline.disabled.focus, .btn.btn-secondary-outline:disabled:focus, .btn.btn-secondary-outline:disabled.focus {
  border-color: white;
}

.btn.btn-secondary-outline.disabled:hover, .btn.btn-secondary-outline:disabled:hover {
  border-color: white;
}

.btn.btn-info-outline {
  color: #76D4F5;
  background-image: none;
  background-color: transparent;
  border-color: #76D4F5;
}

.btn.btn-info-outline:hover {
  color: #fff;
  background-color: #76D4F5;
  border-color: #76D4F5;
}

.btn.btn-info-outline:focus, .btn.btn-info-outline.focus {
  color: #fff;
  background-color: #76D4F5;
  border-color: #76D4F5;
}

.btn.btn-info-outline:active, .btn.btn-info-outline.active,
.open > .btn.btn-info-outline.dropdown-toggle {
  color: #fff;
  background-color: #76D4F5;
  border-color: #76D4F5;
}

.btn.btn-info-outline:active:hover, .btn.btn-info-outline:active:focus, .btn.btn-info-outline:active.focus, .btn.btn-info-outline.active:hover, .btn.btn-info-outline.active:focus, .btn.btn-info-outline.active.focus,
.open > .btn.btn-info-outline.dropdown-toggle:hover,
.open > .btn.btn-info-outline.dropdown-toggle:focus,
.open > .btn.btn-info-outline.dropdown-toggle.focus {
  color: #fff;
  background-color: #25bbef;
  border-color: #10a7db;
}

.btn.btn-info-outline.disabled:focus, .btn.btn-info-outline.disabled.focus, .btn.btn-info-outline:disabled:focus, .btn.btn-info-outline:disabled.focus {
  border-color: #d5f2fc;
}

.btn.btn-info-outline.disabled:hover, .btn.btn-info-outline:disabled:hover {
  border-color: #d5f2fc;
}

.btn.btn-success-outline {
  color: $brand-success;
  background-image: none;
  background-color: transparent;
  border-color: $brand-success;
}

.btn.btn-success-outline:hover {
  color: #fff;
  background-color: $brand-success-dark;
  border-color: $brand-success-dark;
}

.btn.btn-success-outline:focus, .btn.btn-success-outline.focus {
  color: #fff;
  background-color: $brand-success-dark;
  border-color: $brand-success-dark;
}

.btn.btn-success-outline:active, .btn.btn-success-outline.active,
.open > .btn.btn-success-outline.dropdown-toggle {
  color: #fff;
  background-color: $brand-success-dark;
  border-color: $brand-success-dark;
}

.btn.btn-success-outline:active:hover, .btn.btn-success-outline:active:focus, .btn.btn-success-outline:active.focus, .btn.btn-success-outline.active:hover, .btn.btn-success-outline.active:focus, .btn.btn-success-outline.active.focus,
.open > .btn.btn-success-outline.dropdown-toggle:hover,
.open > .btn.btn-success-outline.dropdown-toggle:focus,
.open > .btn.btn-success-outline.dropdown-toggle.focus {
  color: #fff;
  background-color: $brand-success-dark;
  border-color: $brand-success-dark;
}

.btn.btn-success-outline.disabled:focus, .btn.btn-success-outline.disabled.focus, .btn.btn-success-outline:disabled:focus, .btn.btn-success-outline:disabled.focus {
  border-color: $brand-success;
}

.btn.btn-success-outline.disabled:hover, .btn.btn-success-outline:disabled:hover {
  border-color: $brand-success;
}

.btn.btn-warning-outline {
  color: $brand-warning;
  background-image: none;
  background-color: transparent;
  border-color: $brand-warning;
}

.btn.btn-warning-outline:hover {
  color: #fff;
  background-color: $brand-warning-dark;
  border-color: $brand-warning-dark;
}

.btn.btn-warning-outline:focus, .btn.btn-warning-outline.focus {
  color: #fff;
  background-color: $brand-warning-dark;
  border-color: $brand-warning-dark;
}

.btn.btn-warning-outline:active, .btn.btn-warning-outline.active,
.open > .btn.btn-warning-outline.dropdown-toggle {
  color: #fff;
  background-color: $brand-warning-dark;
  border-color: $brand-warning-dark;
}

.btn.btn-warning-outline:active:hover, .btn.btn-warning-outline:active:focus, .btn.btn-warning-outline:active.focus, .btn.btn-warning-outline.active:hover, .btn.btn-warning-outline.active:focus, .btn.btn-warning-outline.active.focus,
.open > .btn.btn-warning-outline.dropdown-toggle:hover,
.open > .btn.btn-warning-outline.dropdown-toggle:focus,
.open > .btn.btn-warning-outline.dropdown-toggle.focus {
  color: #fff;
  background-color: $brand-warning-dark;
  border-color: $brand-warning-dark;
}

.btn.btn-warning-outline.disabled:focus, .btn.btn-warning-outline.disabled.focus, .btn.btn-warning-outline:disabled:focus, .btn.btn-warning-outline:disabled.focus {
  border-color: $brand-warning;
}

.btn.btn-warning-outline.disabled:hover, .btn.btn-warning-outline:disabled:hover {
  border-color: $brand-warning;
}

.btn.btn-danger-outline {
  color: $brand-danger;
  background-image: none;
  background-color: transparent;
  border-color: $brand-danger;
}

.btn.btn-danger-outline:hover {
  color: #fff;
  background-color: $brand-danger-dark;
  border-color: $brand-danger-dark;
}

.btn.btn-danger-outline:focus, .btn.btn-danger-outline.focus {
  color: #fff;
  background-color: $brand-danger-dark;
  border-color: $brand-danger-dark;
}

.btn.btn-danger-outline:active, .btn.btn-danger-outline.active,
.open > .btn.btn-danger-outline.dropdown-toggle {
  color: #fff;
  background-color: $brand-danger-dark;
  border-color: $brand-danger-dark;
}

.btn.btn-danger-outline:active:hover, .btn.btn-danger-outline:active:focus, .btn.btn-danger-outline:active.focus, .btn.btn-danger-outline.active:hover, .btn.btn-danger-outline.active:focus, .btn.btn-danger-outline.active.focus,
.open > .btn.btn-danger-outline.dropdown-toggle:hover,
.open > .btn.btn-danger-outline.dropdown-toggle:focus,
.open > .btn.btn-danger-outline.dropdown-toggle.focus {
  color: #fff;
  background-color: $brand-danger-dark;
  border-color: $brand-danger-dark;
}

.btn.btn-danger-outline.disabled:focus, .btn.btn-danger-outline.disabled.focus, .btn.btn-danger-outline:disabled:focus, .btn.btn-danger-outline:disabled.focus {
  border-color: $brand-danger;
}

.btn.btn-danger-outline.disabled:hover, .btn.btn-danger-outline:disabled:hover {
  border-color: $brand-danger;
}

.btn.btn-pill-left:focus, .btn.btn-pill-right:focus, .btn.btn-oval:focus {
  outline: none;
  outline-offset: initial;
}

.btn.btn-pill-left {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.btn.btn-pill-right {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.btn.btn-oval {
  border-radius: 25px;
}

.btn.btn-link {
  text-decoration: none;
}

.btn strong {
  font-weight: 600;
}

.btn-group .dropdown-menu > li:last-child a:hover:before {
  height: 0px;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}

.animated {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-delay: .1s;
  animation-delay: .1s;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.centralize-y {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

input,
textarea {
  outline: none;
}

.dropdown-menu {
  float: left;
  box-shadow: 2px 3px 6px rgba(126, 142, 159, 0.1);
  border: 1px solid rgba(126, 142, 159, 0.1);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.dropdown-menu .dropdown-item {
  display: block;
  padding: 0px 15px;
  clear: both;
  font-weight: normal;
  color: $brand-primary;
  white-space: nowrap;
  -webkit-transition: none;
  transition: none;
}

.dropdown-menu .dropdown-item i {
  margin-right: 2px;
}

.dropdown-menu .dropdown-item:hover {
  color: $light-blue !important;
  background: none;
  background-color: whitesmoke;
}

/* *******************************************
*		  Item List general styles
********************************************** */
.item-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 0;
  line-height: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .item-list {
    font-size: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .item-list {
    font-size: 0.95rem;
  }
}

@media (max-width: 767px) {
  .item-list {
    font-size: 1.05rem;
  }
}

.item-list.striped > li {
  border-bottom: 1px solid #e9edf0;
}

.item-list.striped > li:nth-child(2n + 1) {
  background-color: #fcfcfd;
}

@media (max-width: 767px) {
  .item-list.striped > li:nth-child(2n + 1) {
    background-color: #f8f9fb;
  }
}

.item-list.striped .item-list-footer {
  border-bottom: none;
}

/* *******************************************
*			Item general styles
********************************************** */
.item-list .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.item-list .item-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  min-width: 100%;
}

.item-list .item-row.nowrap {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.item-list .item-col {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 10px 10px 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 3;
  -ms-flex-positive: 3;
  flex-grow: 3;
  -ms-flex-negative: 3;
  flex-shrink: 3;
  margin-left: auto;
  margin-right: auto;
  min-width: 0;
}

.item-list .item-col.fixed {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}

.item-list .item-col.pull-left {
  margin-right: auto;
}

.item-list .item-col.pull-right {
  margin-left: auto;
}

.item-list .item-col > div {
  width: 100%;
}

.item-list .item-col:last-child {
  padding-right: 0;
}

.item-list .no-overflow {
  overflow: hidden;
}

.item-list .no-wrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item-list {

}

.item-list .item-list-header .item-col.item-col-header span {
  color: #999;
  font-size: 0.8rem;
  font-weight: 700 !important;
}

.item-list .item-heading {
  font-size: 0.9rem;
  display: none;
  color: #666;
  font-weight: 700;
  padding-right: 10px;
}

@media (max-width: 767px) {
  .item-list .item-heading {
    display: block;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .item-list .item-heading {
    width: 100%;
  }
}

@media (max-width: 575px) {
  .item-list .item-heading {
    width: 40%;
  }
}

.item-list .item-col.item-col-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 70px;
  flex-basis: 70px;
}

.item-list .item-col.item-col-img.xs {
  -ms-flex-preferred-size: 40px;
  flex-basis: 40px;
}

.item-list .item-col.item-col-img.sm {
  -ms-flex-preferred-size: 50px;
  flex-basis: 50px;
}

.item-list .item-col.item-col-img.lg {
  -ms-flex-preferred-size: 100px;
  flex-basis: 100px;
}

.item-list .item-col.item-col-img.xl {
  -ms-flex-preferred-size: 120px;
  flex-basis: 120px;
}

.item-list .item-col.item-col-img a {
  width: 100%;
}

.item-list .item-img {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  background-color: #efefef;
  padding-bottom: 100%;
  width: 100%;
  height: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 767px) {
  .item-list .item-col.item-col-title {
    -webkit-box-ordinal-group: -3;
    -ms-flex-order: -4;
    order: -4;
  }
}

.item-list .item-col.item-col-title a {
  display: block;
}

.item-list .item-title {
  margin: 0;
  font-size: inherit;
  line-height: inherit;
  font-weight: 600;
}

/* *******************************************
*				Adjustments
********************************************** */
.card > .item-list .item > .item-row {
  padding: 0 15px;
}

@media (min-width: 1200px) {
  .card > .item-list .item > .item-row {
    padding: 0 20px;
  }
}

@media (max-width: 767px) {
  .card > .item-list .item > .item-row {
    padding: 0 10px;
  }
}

a:not(.btn) {
  -webkit-transition: initial;
  transition: initial;
  text-decoration: underline;
  color: #969696;
}

a:not(.btn):hover {
  text-decoration: underline;
  color: $brand-primary;
}

a:not(.btn):hover:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

a:not(.btn):focus {
  text-decoration: none;
}

span a {
  vertical-align: text-bottom;
}

[class^='nav'] li > a,
[class*=' nav'] li > a {
  display: block;
}

[class^='nav'] li > a:before,
[class*=' nav'] li > a:before {
  display: none;
}

.nav.nav-tabs-bordered {
  border-color: $brand-primary;
}

.nav.nav-tabs-bordered + .tab-content {
  border-style: solid;
  border-width: 0 1px 1px 1px;
  border-color: $brand-primary;
  padding: 10px 20px 0;
}

.nav.nav-tabs-bordered .nav-item .nav-link {
  text-decoration: none;
}

.nav.nav-tabs-bordered .nav-item .nav-link:hover {
  color: #ffffff;
  background-color: $brand-primary;
  border: 1px solid $brand-primary;
}

.nav.nav-tabs-bordered .nav-item .nav-link.active {
  border-color: $brand-primary;
  border-bottom-color: transparent;
}

.nav.nav-tabs-bordered .nav-item .nav-link.active:hover {
  background-color: #ffffff;
  color: inherit;
}

.nav.nav-pills + .tab-content {
  border: 0;
  padding: 5px;
}

.nav.nav-pills .nav-item .nav-link {
  text-decoration: none;
}

.nav.nav-pills .nav-item .nav-link:hover {
  color: #4f5f6f;
  background-color: transparent;
  border: 0;
}

.nav.nav-pills .nav-item .nav-link.active {
  border-color: $brand-primary;
  border-bottom-color: transparent;
  background-color: $brand-primary;
}

.nav.nav-pills .nav-item .nav-link.active:hover {
  background-color: $brand-primary;
  color: #ffffff;
}

#nprogress .bar {
  background: #85CE36 !important;
}

#nprogress .bar .peg {
  box-shadow: 0 0 10px #85CE36, 0 0 5px $brand-primary;
}

#nprogress .spinner {
  top: 25px !important;
  right: 23px !important;
}

#nprogress .spinner .spinner-icon {
  border-top-color: #85CE36 !important;
  border-left-color: #85CE36 !important;
}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: $blue-dark;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: $brand-primary;
}

.table label {
  margin-bottom: 0;
}

.table .checkbox + span {
  margin-bottom: 0;
}

.table .checkbox + span:before {
  line-height: 20px;
}

.row .col {
  padding-left: 15px;
  padding-right: 15px;
  float: left;
}

.row-sm {
  margin-left: -10px;
  margin-right: -10px;
}

.row-sm [class^='col'] {
  padding-left: 10px;
  padding-right: 10px;
}

.title-block {
  padding-bottom: 15px;
  margin-bottom: 30px;
  border-bottom: 1px solid #d7dde4;
}

.title-block::after {
  content: "";
  display: table;
  clear: both;
}

@media (max-width: 767px) {
  .title-block {
    margin-bottom: 20px;
  }
}

.subtitle-block {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px dashed #e0e5ea;
}

.section {
  display: block;
  margin-bottom: 15px;
}

@media (min-width: 1200px) {
  .section {
    margin-bottom: 25px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .section {
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .section {
    margin-bottom: 15px;
  }
}

@media (max-width: 767px) {
  .section {
    margin-bottom: 10px;
  }
}

.section:last-of-type {
  margin-bottom: 0;
}

.box-placeholder {
  margin-bottom: 15px;
  padding: 20px;
  border: 1px dashed #ddd;
  background: #fafafa;
  color: #444;
  cursor: pointer;
}

.underline-animation {
  position: absolute;
  top: auto;
  bottom: 1px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: $brand-primary;
  content: '';
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}

.stat-chart {
  border-radius: 50%;
}

.stat {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  margin-right: 10px;
}

.stat .value {
  font-size: 20px;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
}

.stat .name {
  overflow: hidden;
  text-overflow: ellipsis;
}

.stat.lg .value {
  font-size: 26px;
  line-height: 28px;
}

.stat.lg .name {
  font-size: 16px;
}

.list-icon [class^='col'] {
  cursor: pointer;
}

.list-icon [class^='col'] em {
  font-size: 14px;
  width: 40px;
  vertical-align: middle;
  margin: 0;
  display: inline-block;
  text-align: center;
  -webkit-transition: all 1s;
  transition: all 1s;
  line-height: 30px;
}

.list-icon [class^='col']:hover em {
  -webkit-transform: scale(2, 2);
  transform: scale(2, 2);
}

.well {
  background-image: none;
  background-color: #fff;
}

.jumbotron {
  background-image: none;
  background-color: #fff;
  padding: 15px 30px;
}

.jumbotron.jumbotron-fluid {
  padding-left: 0;
  padding-right: 0;
}

.rounded {
  border-radius: 0.25rem;
}

.rounded-l {
  border-radius: 0.3rem;
}

.rounded-s {
  border-radius: 0.2rem;
}

.jqstooltip {
  height: 25px !important;
  width: auto !important;
  border-radius: 0.2rem;
}

.title {
  font-size: 1.45rem;
  margin-bottom: 0;
  font-weight: 700;
}

.title.l {
  font-size: 1.6rem;
}

.title.s {
  font-size: 1.4rem;
}

.card .title {
  font-size: 1.1rem;
  color: #4f5f6f;
}

.title-description {
  margin: 0;
  font-size: 0.9rem;
  font-weight: normal;
  color: #7e8e9f;
}

.title-description.s {
  font-size: 0.8rem;
}

@media (max-width: 767px) {
  .title-description {
    display: none;
  }
}

.subtitle {
  font-size: 1.2rem;
  margin: 0;
  color: #7e8e9f;
}

.text-primary {
  color: $brand-primary;
}

.text-muted {
  color: #9ba8b5;
}

pre {
  padding: 0;
  border: none;
  background: none;
}

.footer {
  background-color: #fff;
  position: absolute;
  left: 230px;
  right: 0;
  bottom: 0;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-fixed .footer {
  position: fixed;
}

.footer .footer-block {
  vertical-align: middle;
  margin-left: 20px;
  margin-right: 20px;
}

.footer .footer-github-btn {
  vertical-align: middle;
}

@media (max-width: 991px) {
  .footer {
    left: 0;
  }
}

.footer .author > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer .author > ul li {
  display: inline-block;
}

.footer .author > ul li:after {
  content: "|";
}

.footer .author > ul li:last-child:after {
  content: "";
}

@media (max-width: 991px) {
  .footer .author > ul li {
    display: block;
    text-align: right;
  }

  .footer .author > ul li:after {
    content: "";
  }
}

@media (max-width: 991px) {
  .footer .author > ul {
    display: block;
  }
}

@media (max-width: 767px) {
  .footer .author > ul {
    display: none;
  }
}

.header {
  background-color: #fff;
  height: 70px;
  position: absolute;
  left: 230px;
  right: 0;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid #d7dde4;
}

@media (max-width: 991px) {
  .header {
    left: 0;
  }
}

@media (max-width: 767px) {
  .header {
    left: 0;
    height: 50px;
  }
}

.header-fixed .header {
  position: fixed;
}

@media (max-width: 767px) {
  .header .header-block {
    padding: 5px;
  }
}

.sidebar {
  background-color: #0E1A35;
  width: 230px;
  padding-bottom: 60px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  z-index: 20;
}

@media (max-width: 991px) {
  .sidebar {
    position: fixed;
    left: -230px;
  }
}

.sidebar-fixed .sidebar {
  position: fixed;
}

.sidebar-open .sidebar {
  left: 0;
}

.sidebar .sidebar-container {
  position: absolute;
  top: 0;
  bottom: 51px;
  width: 100%;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebar .sidebar-container::-webkit-scrollbar-track {
  background-color: #2c353e;
}

.sidebar .nav {
  display: block !important;
  font-size: 14px;
}

.sidebar .nav li a:focus,
.open .sidebar .nav li a:focus {
  background-color: inherit;
}

.sidebar .nav ul {
  padding: 0;
  height: 0px;
  overflow: hidden;
}

.loaded .sidebar .nav ul {
  height: auto;
}

.sidebar .nav li.active ul {
  height: auto;
}

.sidebar .nav li a {
  color: #fff;
  text-decoration: none;
}

.sidebar .nav li a:hover,
.sidebar .nav li.open > a,
.sidebar .nav li.open a:hover {
  color: #fff;
}

.sidebar .nav > li > a {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 35px;
  padding-right: 10px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}

.sidebar .nav > li.active > a,
.sidebar .nav > li.active > a:hover {
  border-left: 7px solid $brand-primary;
  background-color: $light-blue !important;
  padding-left: 27px;
  color: #ffffff !important;
}

.sidebar .nav > li.open > a {
  background-color: $light-gray;
}

.sidebar .nav > li.open > a i.arrow {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.sidebar .nav > li > a i {
  margin-right: 5px;
  font-size: 16px;
}

.sidebar .nav > li > a i.arrow {
  float: right;
  font-size: 20px;
  line-height: initial;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.sidebar .nav > li > a i.arrow:before {
  content: "\f105" !important;
}

.sidebar .nav > li > ul > li a {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 60px;
  background-color: $light-blue;
}

.sidebar .nav > li > ul > li.active a {
  color: #ffffff;
}

.sidebar-overlay {
  position: absolute;
  display: none;
  left: 200vw;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 5;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  z-index: 15;
}

.menu-hr {
  height: 1px;
  background: #0a1327;
}

@media (max-width: 991px) {
  .sidebar-overlay {
    display: block;
  }
}

@media (max-width: 767px) {
  .sidebar-overlay {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

@media (max-width: 991px) {
  .sidebar-open .sidebar-overlay {
    left: 0;
    opacity: 1;
  }
}

.header .header-block-buttons {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap;
}

.header .header-block-buttons .btn.header-btn {
  background-color: transparent;
  border: 1px solid #64798d;
  color: #64798d;
  margin: 0 5px;
  border-radius: 0.2rem;
}

.header .header-block-buttons .btn.header-btn:hover, .header .header-block-buttons .btn.header-btn:focus {
  border: 1px solid #3a4651;
  color: #3a4651;
}

@media (max-width: 767px) {
  .header .header-block-buttons .btn.header-btn span {
    display: none;
  }
}

.header .header-block-collapse {
  padding-right: 5px;
}

@media (max-width: 767px) {
  .header .header-block-collapse {
    width: 155px;
  }
}

.header .header-block-collapse .collapse-btn {
  background: none;
  border: none;
  box-shadow: none;
  color: $brand-primary;
  font-size: 24px;
  line-height: 40px;
  border-radius: 0;
  outline: none;
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: initial;
}

.header .header-block-nav {
  margin-left: auto;
  white-space: nowrap;
  padding-right: 15px;
}

@media (max-width: 767px) {
  .header .header-block-nav {
    padding-right: 25px;
  }
}

.header .header-block-nav::after {
  content: "";
  display: table;
  clear: both;
}

.header .header-block-nav a {
  text-decoration: none;
}

.header .header-block-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header .header-block-nav > ul {
  display: table;
}

.header .header-block-nav > ul > li {
  display: table-cell;
  position: relative;
}

.header .header-block-nav > ul > li:before {
  display: block;
  content: " ";
  width: 1px;
  height: 24px;
  top: 50%;
  margin-top: -12px;
  background-color: #8b9cb1;
  position: absolute;
  left: 0;
}

.header .header-block-nav > ul > li:first-child:before {
  display: none;
}

.header .header-block-nav > ul > li > a {
  padding: 0 15px;
  color: #4f5f6f;
}

.header .header-block-nav > ul > li > a:hover {
  color: $brand-primary;
}

.header .header-block-nav .dropdown-menu {
  margin-top: 15px;
}

.header .header-block-search {
  margin-right: auto;
  padding-left: 20px;
}

@media (max-width: 767px) {
  .header .header-block-search {
    padding-left: 10px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header .header-block-search {
    padding-left: 20px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .header .header-block-search {
    padding-left: 20px;
  }
}

@media (min-width: 1200px) {
  .header .header-block-search {
    padding-left: 35px;
  }
}

.header .header-block-search > form {
  float: right;
}

@media (max-width: 767px) {
  .header .header-block-search > form {
    padding-left: 0;
  }
}

.header .header-block-search .input-container {
  position: relative;
  color: #7e8e9f;
}

.header .header-block-search .input-container i {
  position: absolute;
  pointer-events: none;
  display: block;
  height: 40px;
  line-height: 40px;
  left: 0;
}

.header .header-block-search .input-container input {
  background-color: transparent;
  border: none;
  padding-left: 25px;
  height: 40px;
  max-width: 150px;
}

@media (max-width: 767px) {
  .header .header-block-search .input-container input {
    max-width: 140px;
  }
}

.header .header-block-search .input-container input:focus + .underline {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.sidebar-header .brand {
  color: #fff;
  text-align: left;
  padding-left: 0px;
  line-height: 70px;
  font-size: 16px;
}

@media (max-width: 767px) {
  .sidebar-header .brand {
    line-height: 50px;
    font-size: 16px;
  }
}

.header .header-block-nav .notifications {
  font-size: 16px;
}

.header .header-block-nav .notifications a {
  padding-right: 10px;
}

.header .header-block-nav .notifications .counter {
  font-weight: bold;
  font-size: 14px;
  position: relative;
  top: -3px;
  left: -2px;
}

.header .header-block-nav .notifications.new .counter {
  color: $brand-primary;
  font-weight: bold;
}

@media (max-width: 767px) {
  .header .header-block-nav .notifications {
    position: static;
  }
}

.header .header-block-nav .notifications-dropdown-menu {
  white-space: normal;
  left: auto;
  right: 0;
  min-width: 350px;
}

.header .header-block-nav .notifications-dropdown-menu:before {
  position: absolute;
  right: 20px;
  bottom: 100%;
  margin-right: -1px;
}

.header .header-block-nav .notifications-dropdown-menu:after {
  position: absolute;
  right: 20px;
  bottom: 100%;
}

.header .header-block-nav .notifications-dropdown-menu .notifications-container .notification-item {
  border-bottom: 1px solid rgba(126, 142, 159, 0.1);
  padding: 5px;
}

.header .header-block-nav .notifications-dropdown-menu .notifications-container .notification-item:hover {
  background-color: #f5f5f5;
}

.header .header-block-nav .notifications-dropdown-menu .notifications-container .img-col {
  display: table-cell;
  padding: 5px;
}

.header .header-block-nav .notifications-dropdown-menu .notifications-container .body-col {
  padding: 5px;
  display: table-cell;
}

.header .header-block-nav .notifications-dropdown-menu .notifications-container .img {
  width: 40px;
  height: 40px;
  border-radius: 3px;
  vertical-align: top;
  display: inline-block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header .header-block-nav .notifications-dropdown-menu .notifications-container p {
  color: #4f5f6f;
  display: inline-block;
  line-height: 18px;
  font-size: 13px;
  margin: 0;
  vertical-align: top;
}

.header .header-block-nav .notifications-dropdown-menu .notifications-container p .accent {
  font-weight: bold;
}

.header .header-block-nav .notifications-dropdown-menu footer {
  text-align: center;
}

.header .header-block-nav .notifications-dropdown-menu footer a {
  color: #373a3c;
  -webkit-transition: none;
  transition: none;
}

.header .header-block-nav .notifications-dropdown-menu footer a:hover {
  background-color: #f5f5f5;
  color: $brand-primary;
}

@media (max-width: 767px) {
  .header .header-block-nav .notifications-dropdown-menu {
    min-width: 100px;
    width: 100%;
    margin-top: 5px;
  }

  .header .header-block-nav .notifications-dropdown-menu:before, .header .header-block-nav .notifications-dropdown-menu:after {
    right: 107px;
  }
}

.header .header-block-nav .profile .img {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 4px;
  background-color: #8b9cb1;
  color: #ffffff;
  text-align: center;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  vertical-align: middle;
}

.header .header-block-nav .profile .name {
  display: inline-block;
  margin-right: 9px;
  font-weight: bold;
}

@media (max-width: 767px) {
  .header .header-block-nav .profile .name {
    display: none;
  }
}

.header .header-block-nav .profile .arrow {
  color: $brand-primary;
}

.header .header-block-nav .profile-dropdown-menu {
  left: auto;
  right: 0;
  min-width: 180px;
  white-space: normal;
}

.header .header-block-nav .profile-dropdown-menu:before {
  position: absolute;
  right: 10px;
  bottom: 100%;
  margin-right: -1px;
}

.header .header-block-nav .profile-dropdown-menu:after {
  position: absolute;
  right: 10px;
  bottom: 100%;
}

.header .header-block-nav .profile-dropdown-menu a {
  padding: 10px 15px;
}

.header .header-block-nav .profile-dropdown-menu a .icon {
  color: $brand-primary;
  text-align: center;
  width: 16px;
}

.header .header-block-nav .profile-dropdown-menu a span {
  display: inline-block;
  padding-left: 5px;
  text-align: left;
  color: #7e8e9f;
}

.header .header-block-nav .profile-dropdown-menu .profile-dropdown-menu-icon {
  padding: 0;
}

.header .header-block-nav .profile-dropdown-menu .profile-dropdown-menu-topic {
  color: #7e8e9f;
  padding: 0;
}

.header .header-block-nav .profile-dropdown-menu .dropdown-divider {
  margin: 0;
}

.header .header-block-nav .profile-dropdown-menu .logout {
  border-top: 1px solid rgba(126, 142, 159, 0.1);
}

@media (max-width: 767px) {
  .header .header-block-nav .profile-dropdown-menu {
    margin-top: 8px;
  }
}

.urgentie {
  height: 100%;
  width: 30px !important;
  padding: 0;
  margin: 0;
  border-right: 1px solid $light-gray;
}

.urg-red {
  background: $brand-danger;
}

.urg-orange {
  background: $brand-warning;
}

.urg-yellow {
  background: $brand-watchout;
}

.urg-green {
  background: $brand-success;
}

.urg-blue {
  background: $blue-dark;
}

.form-label {
  font-size: 18px;
  font-weight: 700;
}

.form-style {
  padding-left: 0;
  padding-right: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 0;
  box-shadow: none;
  border-bottom: 2px solid $darker-gray;
}

.patient-create {
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #a5aec3;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #a5aec3;
  opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #a5aec3;
  opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #a5aec3;
}

.form-style:focus {
  border-bottom: 2px solid $brand-primary;
}

div.checkRadioContainer > label > input {
  visibility: hidden;
}

div.checkRadioContainer > label {
  border: 0;
  margin-bottom: -2px;
  cursor: pointer;
  margin-right: 10px;
  width: 60px;
  height: 40px;
}

div.checkRadioContainer > label > span {
  display: inline-block;
  vertical-align: top;
  line-height: 2em;
}

div.checkRadioContainer > label > input + i {
  visibility: hidden;
  color: #fff;
  margin-top: 0.13em;
  margin-left: -0.05em;
}

div.checkRadioContainer > label > input:checked + i {
  visibility: visible;
}

.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
  box-sizing: border-box;
}

.tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
  background: none;
}

.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
  background: none;
}

.tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 5em;
  height: 2.5em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}

.tgl + .tgl-btn:after {
  left: 0;
}

.tgl + .tgl-btn:before {
  display: none;
}

.tgl:checked + .tgl-btn:after {
  left: 50%;
}

.tgl-light + .tgl-btn {
  background: #f0f0f0;
  border-radius: 2em;
  padding: 2px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.tgl-light + .tgl-btn:after {
  border-radius: 50%;
  background: #fff;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.tgl-light:checked + .tgl-btn {
  background: $brand-success;
}

.btn-inchecken {
  cursor: pointer;
}

.parsley-errors-list {
  list-style-type: none;
  padding-left: 0;
  padding-top: 5px;
  color: $brand-danger;
}
