@import "app";
@import "../../../node_modules/weather-icons/css/weather-icons.css";

.news {

  .news-item {
    display: inline-block;
  }
}

.badge-watchout {
  background-color: $brand-watchout;
}

.border-radius-0 {
  border-radius: 0 !important;
}

.border-light-gray {
  border: 1px solid #e9edf0;
}

.circle {
  width: 59px;
  height: 59px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}