@import "../../../node_modules/weather-icons/css/weather-icons.min.css";

.bg-lightgray {
  background: #F6F7FA;
}

.bg-white {
  background: #ffffff;
}

.bg-yellow,
.badge-yellow {
  background-color: yellow;
}

.border-radius-0 {
  border-radius: 0 !important;
}

.border-lightgray {
  border: 1px solid #e9edf0;
}

.circle {
  width: 59px;
  height: 59px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
